<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Free vector-based icons that you can color and scale">
    <meta name="author" content="Max Montgelas">
    <title>Iconoglyphy | Icons for Your App Wrapped up in A Font</title>

    <link rel="icon" href="https://d23mmkdgz8do5o.cloudfront.net/assets/favicon.ico" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/iconoglyphy.prod/src/0.0.1/iconoglyphy_static.min.css">-->
    <link rel="stylesheet" type="text/css" href="/assets/iconoglyphy_static.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/app.min.css">

  </head>
  <body>
    <div id="content">{{{ pageContent }}}</div>

    <!-- Placing the script tags at the bottom of the body allows the document to load first, and provides a non-blocking experience -->
    <script src="/assets/bundle.js"></script>
  </body>
</html>
