.hero-section {
  position: relative;
  width: 100%;
  min-height: 320px;

  background: #FF7000;

  .iconoglyphy-logo {
    position: relative;
    display: block;
    top: 50px;
    width: 100%;
    height: 72px;
    text-align: center;

    .ig-iconoglyphy {
      display: inline-block;
      margin-right: 30px;
      vertical-align: middle;
      font-size: 72px;
      line-height: 72px;
      color: $light-text;
    }

    h1 {
      display: inline-block;
      height: 72px;
      line-height: 72px;
      margin-top: 14px;
      vertical-align: middle;
      font-family: 'Comfortaa', sans-serif;
      font-size: 72px;
      color: $light-text;
    }
  }

  h3 {
    position: relative;
    top: 74px;
    font-size: 26px;
    color: $light-text;
    text-align: center;
  }

  .icon-scroller {
    position: relative;
    display: block;
    top: 110px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 700px;
    height: 60px;
    text-align: center;

    .nav-left, .nav-right {
      position: absolute;
      top: 10px;
      font-size: 40px;
      line-height: 40px;
      color: $light-text;
      opacity: 0.5;
      cursor: pointer;
    }

    .nav-left { left: 0px; }
    .nav-right { right: 0px; }

    .scroll-content {
      display: inline-block;
      width: auto;

      .ig {
        margin: 0px 12px;
        font-size: 60px;
        line-height: 60px;
        color: $light-text;
      }
    }
  }
}

.instructions-wrapper {
  margin-top: 16px;

  h3 {
    margin: 8px 0px;
    font-size: 34px;
  }
  p {
    margin: 4px 0px;
    font-size: 20px;
  }
  pre {
    background: #EDEDED;
    padding: 10px;
    border-radius: 3px;
  }
}
